[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# pour VSC
autopep8 = "*"
pylint = "*"
# pour les tests
pytest = "*"
coverage = "*"
flask-debugtoolbar = "*"
# pour le refactoring dans VSC
rope = "*"
lorem-text = "*"

[packages]
flask = "*"
Flask-Session = "*"
pillow = "*"
markdown = "*"

[requires]
python_version = "3.8"
