{% extends "base.j2" %}
{%- block title -%}
{{g.titre}} - {{super()}}
{%- endblock title -%}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/glyph-home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/partie/partie.css') }}">
{% endblock stylesheets %}

{% block javascriptsHead %}
<script src="{{url_for('static',filename='js/partie.js')}}"></script>
{% endblock %}

{% block body %}

{% include "partie/zoneDroite.j2" %}
{# {% include "partie/sabot.j2" %} #}

{% endblock %}