
<div id="zoneDroite">
    {% include "partie/sabot.j2" %} {# div id="sabotWrapper" #}
    <div class="horizontalLine"></div>
    {% include "partie/grilleMain7cartes.j2" %} {# div id="grilleMain7cartes" #}
</div>
