
body {
    border: 0.7rem ridge green;
    border-radius: 1rem ;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    font-family: Copperplate;
}

nav {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.pannelType { /* #parades, #attaques ... */
    margin: auto;
    border: 3px solid;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#parades {
    color: darkgreen;
}
#attaques {
    color: red;
}
#bottes {
    color: blue;
}
#etapes {
    color: darkblue;
}

#entete {
    font-size: 2.5em;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: solid;
}

#inventaire > div {
    display: grid;
    grid-template-areas: "image nom nombre";
    grid-template-columns: auto auto 3ch;
    align-items: center;

    font-size: 1.5em;
}
#nom {
    grid-area: nom;
    white-space: pre;
    text-align: right;
}
#nombre {
    grid-area: nombre;
    text-align: right;
}
#image {
    grid-area: image;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    object-fit: none;
    justify-self: left;

    cursor: pointer;
}
#infos {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    font-size: 1.5em;
}
#remarque {
    color: red;
}

/* ZOOM */
#overlay {
    --duration: 0.3s;
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    visibility: hidden; /* display n'interdit pas un reader d'aveugle de lire, visibility si! */
    animation-name: zoom-in;
    animation-duration: var(--duration);
    
}
@keyframes zoom-in {
    from {
        transform:scale(0);
        transform: rotate(0deg);
    }
    to {
        transform:scale(1);
        transform: rotate(360deg);
    }
}
#overlay.did-zoom-out {
    animation-name: zoom-out;
    animation-duration: var(--duration);
}
@keyframes zoom-out {
    from {
        transform:scale(1);
        transform: rotate(360deg);
    }
    to {
        transform:scale(0);
        transform: rotate(0deg);
    }
}
#popup {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
#popupWrapper {
    position: relative;
}