#sabot {
    display: grid;
    grid-template-areas:    "sabotContour sabotContour"
                            "cartesRestantes ."
                            ;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
}
#sabot  .pile {
    grid-area: sabotPile;
}
#sabot  .defausse {
    grid-area: sabotDefausse;
    border: solid;
    border-radius: 1em;
    border-color: gray;
}
#sabot  img {
    margin: var(--margin-cartes);
}
#cartesRestantes {
    grid-area: cartesRestantes;
    border: ridge;
    text-align: center;
    margin: auto;
    margin-top: 0.3em;
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: white;
}
#sabotContour {
    grid-area: sabotContour;
    border: solid;
    border-radius: 0.3em;
    /* padding-top: 0.2em; */
    padding: var(--marge-sabot);
    background-color: black;

    display: grid;
    grid-template-areas: "sabotPile sabotDefausse";
    grid-template-rows: max-content;
    grid-template-columns: max-content;
}


